api/v1_activity_get.json
[{"id":"afe89848.5b5138","type":"cloudant","z":"","host":"f1b8b850-27d1-42ac-96cb-64c098181ca6-bluemix.cloudant.com","name":"global-deboo"},{"id":"bcead246.2ec548","type":"http in","z":"6cc3f3a9.76658c","name":"","url":"/v1/activity","method":"get","swaggerDoc":"","x":86,"y":79,"wires":[["e7a94778.1469b8"]]},{"id":"608c9d24.d36adc","type":"cloudant in","z":"6cc3f3a9.76658c","name":"get_activity","cloudant":"afe89848.5b5138","database":"deboo","service":"_ext_","search":"_idx_","design":"index","index":"IndexByUserIdAndDate","x":414,"y":79,"wires":[["bff4bbd2.b20c28","c8ca6fdd.39763"]]},{"id":"bff4bbd2.b20c28","type":"http response","z":"6cc3f3a9.76658c","name":"response","x":604,"y":81,"wires":[]},{"id":"c8ca6fdd.39763","type":"debug","z":"6cc3f3a9.76658c","name":"","active":true,"console":"false","complete":"payload","x":450,"y":139,"wires":[]},{"id":"e7a94778.1469b8","type":"function","z":"6cc3f3a9.76658c","name":"where","func":"msg.payload = {\n    \n    query:\"userId:\" + msg.payload.userId,\n    sort: \"-date<string>\"\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":79,"wires":[["608c9d24.d36adc"]]}]