api/v1_activity_post.json
[{"id":"3a057ec2.48bf82","type":"cloudant","z":"","host":"f519bb9d-1279-4581-82d0-34705fd54f08-bluemix:3e8790360b0d3a6b4ec12d233aaea4281fba8608d03cdaebef11952baa52e3e7@f519bb9d-1279-4581-82d0-34705fd54f08-bluemix.cloudant.com","name":"deboo_cloudant"},{"id":"48951702.c89468","type":"http in","z":"24c8e423.33cf5c","name":"","url":"/v1/activity","method":"post","swaggerDoc":"","x":155,"y":129,"wires":[["4779c32d.28b44c"]]},{"id":"151aaba4.ea4a24","type":"http response","z":"24c8e423.33cf5c","name":"","x":1537,"y":161,"wires":[]},{"id":"4779c32d.28b44c","type":"function","z":"24c8e423.33cf5c","name":"save_request_data","func":"msg.request = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":377.00001525878906,"y":135,"wires":[["3151b582.3f0bfa"]]},{"id":"9c59589e.716b18","type":"cloudant in","z":"24c8e423.33cf5c","name":"get_user_by_UserIdAndDate","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","search":"_idx_","design":"index","index":"IndexByUserIdAndDate","x":438,"y":481,"wires":[["4d9e0719.2ed918","3b21e3bf.11a4dc"]]},{"id":"50c575c7.619b1c","type":"function","z":"24c8e423.33cf5c","name":"query","func":"var request = msg.request;\nmsg.payload = {query : 'userId:\"' + request.userId + '\" AND date:\"' + request.date +'\"'};\nreturn msg;","outputs":1,"noerr":0,"x":167,"y":490,"wires":[["9c59589e.716b18"]]},{"id":"4d9e0719.2ed918","type":"function","z":"24c8e423.33cf5c","name":"extractActivityData","func":"var activity = msg.payload[0];\nif(activity) {\n    msg.payload = activity;\n} else {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":476,"wires":[["7b3802c2.71c08c","560990bd.e0603"]]},{"id":"7b3802c2.71c08c","type":"switch","z":"24c8e423.33cf5c","name":"isExistActivity?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":844,"y":532,"wires":[["b7c2389e.296b48"],["9dadcb00.eaaea8"]]},{"id":"b7c2389e.296b48","type":"function","z":"24c8e423.33cf5c","name":"updateActivityData","func":"msg.payload.fat = msg.request.fat;\nmsg.payload.step = msg.request.step;\nmsg.payload.weight = msg.request.weight;\nreturn msg;","outputs":1,"noerr":0,"x":1063,"y":430,"wires":[["1675fe66.443812","7c6f1ade.ae2d14"]]},{"id":"9dadcb00.eaaea8","type":"function","z":"24c8e423.33cf5c","name":"createActivityData","func":"msg.payload = {};\nmsg.payload.fat = msg.request.fat;\nmsg.payload.step = msg.request.step;\nmsg.payload.weight = msg.request.weight;\nmsg.payload.date = msg.request.date;\nmsg.payload.userId = msg.request.userId\nreturn msg;","outputs":1,"noerr":0,"x":1068,"y":563,"wires":[["1675fe66.443812","e4cf12e2.58f59"]]},{"id":"5b9d8ca4.01f374","type":"cloudant out","z":"24c8e423.33cf5c","name":"","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","payonly":true,"operation":"insert","x":1676,"y":393,"wires":[]},{"id":"1675fe66.443812","type":"function","z":"24c8e423.33cf5c","name":"do nothing","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1372.5,"y":465,"wires":[["5b9d8ca4.01f374","9bd9755a.fbb7e8","7222e135.6a95f"]]},{"id":"9bd9755a.fbb7e8","type":"function","z":"24c8e423.33cf5c","name":"response","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1465,"y":533,"wires":[["151aaba4.ea4a24","c6505b54.665ee8"]]},{"id":"3b21e3bf.11a4dc","type":"debug","z":"24c8e423.33cf5c","name":"","active":true,"console":"false","complete":"false","x":701.5,"y":355,"wires":[]},{"id":"560990bd.e0603","type":"debug","z":"24c8e423.33cf5c","name":"","active":true,"console":"false","complete":"false","x":826,"y":409,"wires":[]},{"id":"7c6f1ade.ae2d14","type":"debug","z":"24c8e423.33cf5c","name":"","active":true,"console":"false","complete":"false","x":1336,"y":325,"wires":[]},{"id":"e4cf12e2.58f59","type":"debug","z":"24c8e423.33cf5c","name":"","active":true,"console":"false","complete":"false","x":1318,"y":600,"wires":[]},{"id":"c6505b54.665ee8","type":"debug","z":"24c8e423.33cf5c","name":"","active":true,"console":"false","complete":"false","x":1634,"y":584,"wires":[]},{"id":"7222e135.6a95f","type":"debug","z":"24c8e423.33cf5c","name":"","active":true,"console":"false","complete":"false","x":1617,"y":339,"wires":[]},{"id":"9178f037.29f8a","type":"function","z":"24c8e423.33cf5c","name":"getUserId","func":"if (msg.payload.userId !== null && msg.payload.userId.trim() !== \"\") {\n    msg.payload = msg.payload.userId;\n}\nreturn msg;","outputs":1,"noerr":0,"x":162,"y":255,"wires":[["8e7ce750.f97b08"]]},{"id":"3151b582.3f0bfa","type":"switch","z":"24c8e423.33cf5c","name":"hasUserId?","property":"payload.userId","propertyType":"msg","rules":[{"t":"null"},{"t":"regex","v":"^$","vt":"str","case":false},{"t":"else"}],"checkall":"false","outputs":3,"x":606,"y":135,"wires":[["81af58bb.993d08"],["81af58bb.993d08"],["9178f037.29f8a"]]},{"id":"81af58bb.993d08","type":"function","z":"24c8e423.33cf5c","name":"bad request","func":"msg.statusCode = 400;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":949,"y":116,"wires":[["151aaba4.ea4a24"]]},{"id":"8e7ce750.f97b08","type":"cloudant in","z":"24c8e423.33cf5c","name":"getUser","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","search":"_id_","design":"","index":"","x":370,"y":255,"wires":[["96dd03dc.8fc"]]},{"id":"96dd03dc.8fc","type":"switch","z":"24c8e423.33cf5c","name":"hasPayload?","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":580,"y":253,"wires":[["81af58bb.993d08"],["50c575c7.619b1c"]]}]