api/v1_debu_get.json
[{"id":"3a057ec2.48bf82","type":"cloudant","z":"","host":"f519bb9d-1279-4581-82d0-34705fd54f08-bluemix:3e8790360b0d3a6b4ec12d233aaea4281fba8608d03cdaebef11952baa52e3e7@f519bb9d-1279-4581-82d0-34705fd54f08-bluemix.cloudant.com","name":"deboo_cloudant"},{"id":"1efd8010.d2f0c","type":"cloudant in","z":"db5aee9c.2c1f7","name":"getUser","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","search":"_id_","design":"","index":"","x":157,"y":297,"wires":[["6497e7cd.262188"]]},{"id":"518d652f.d75c4c","type":"http in","z":"db5aee9c.2c1f7","name":"","url":"/v1/debu","method":"get","swaggerDoc":"","x":123,"y":89,"wires":[["fd7641a9.fe8ff"]]},{"id":"28e1d2e6.ed1a8e","type":"http response","z":"db5aee9c.2c1f7","name":"[get] /v1/debu","x":833,"y":331,"wires":[]},{"id":"b3cf7548.149638","type":"function","z":"db5aee9c.2c1f7","name":"getUserId","func":"if (msg.payload.userId !== null && msg.payload.userId.trim() !== \"\") {\n    msg.payload = msg.payload.userId;\n}\nreturn msg;","outputs":1,"noerr":0,"x":498,"y":199,"wires":[["1efd8010.d2f0c"]]},{"id":"fd7641a9.fe8ff","type":"switch","z":"db5aee9c.2c1f7","name":"hasUserId?","property":"payload.userId","propertyType":"msg","rules":[{"t":"null"},{"t":"regex","v":"^$","vt":"str","case":false},{"t":"else"}],"checkall":"false","outputs":3,"x":319,"y":163,"wires":[["ac2e72f1.c2f4d"],["ac2e72f1.c2f4d"],["b3cf7548.149638"]]},{"id":"ac2e72f1.c2f4d","type":"function","z":"db5aee9c.2c1f7","name":"bad request","func":"msg.statusCode = 400;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":662,"y":144,"wires":[["28e1d2e6.ed1a8e"]]},{"id":"6497e7cd.262188","type":"switch","z":"db5aee9c.2c1f7","name":"hasPayload?","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":347,"y":298,"wires":[["45c6b050.e72a"],["fa5521bb.d4e41"]]},{"id":"45c6b050.e72a","type":"function","z":"db5aee9c.2c1f7","name":"Not found","func":"msg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":268,"wires":[["28e1d2e6.ed1a8e"]]},{"id":"fa5521bb.d4e41","type":"function","z":"db5aee9c.2c1f7","name":"Extraction debu","func":"var debu = msg.payload.debu;\nmsg.payload = {debu: debu};\nreturn msg;","outputs":1,"noerr":0,"x":595.5,"y":331,"wires":[["28e1d2e6.ed1a8e"]]}]