api/v1_login_get.json
[{"id":"3a057ec2.48bf82","type":"cloudant","z":"46a01885.46bd98","host":"f519bb9d-1279-4581-82d0-34705fd54f08-bluemix:3e8790360b0d3a6b4ec12d233aaea4281fba8608d03cdaebef11952baa52e3e7@f519bb9d-1279-4581-82d0-34705fd54f08-bluemix.cloudant.com","name":"deboo_cloudant"},{"id":"f742f913.de80f8","type":"http in","z":"46a01885.46bd98","name":"Login Web API","url":"/v1/login","method":"get","swaggerDoc":"","x":126.5,"y":114,"wires":[["3b6e8851.a9b9d8"]]},{"id":"f64ed0b8.55e74","type":"http response","z":"46a01885.46bd98","name":"","x":638.5,"y":219,"wires":[]},{"id":"c4cd8785.88f0d8","type":"cloudant in","z":"46a01885.46bd98","name":"get_user_by_mail","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","search":"_idx_","design":"index","index":"indexByMail","x":209,"y":219,"wires":[["b1b561cf.57ca5"]]},{"id":"3b6e8851.a9b9d8","type":"function","z":"46a01885.46bd98","name":"creat_data_for_get_user_data_by_mail","func":"msg.tmp = {input: {payload: msg.payload}};\nmsg.payload = {mail: msg.payload.mail};\nreturn msg;","outputs":1,"noerr":0,"x":428.5,"y":114,"wires":[["c4cd8785.88f0d8"]]},{"id":"b1b561cf.57ca5","type":"function","z":"46a01885.46bd98","name":"auth_user","func":"var user = msg.payload[0];\nmsg.payload = {result: 'failure', userId: ''};\nvar inputPassword = msg.tmp.input.payload.password;\nif(inputPassword ===undefined || inputPassword === null) {\n    return msg;\n}\nif(!user) {\n    return msg;\n}\nvar userPassword = user.password;\nif(userPassword == inputPassword) {\n    msg.payload.result = 'success';\n    msg.payload.userId = user._id;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":444.5,"y":219,"wires":[["f64ed0b8.55e74"]]}]