api/v1_user_get.json
[{"id":"9406fa8c.d2caa8","type":"cloudant","z":"f46a21c1.7ff26","host":"f519bb9d-1279-4581-82d0-34705fd54f08-bluemix.cloudant.com","name":""},{"id":"ed1c88cd.a7e1a8","type":"cloudant in","z":"f46a21c1.7ff26","name":"getUser","cloudant":"9406fa8c.d2caa8","database":"deboo","service":"_ext_","search":"_id_","design":"","index":"","x":375,"y":356,"wires":[["54ace886.272178"]]},{"id":"8b48df84.b5834","type":"http in","z":"f46a21c1.7ff26","name":"","url":"/v1/user","method":"get","swaggerDoc":"","x":75,"y":80,"wires":[["68a234c7.04318c"]]},{"id":"f6bc3e1.428adc","type":"http response","z":"f46a21c1.7ff26","name":"[get] /v1/user","x":907,"y":459,"wires":[]},{"id":"d3cccfda.ac679","type":"function","z":"f46a21c1.7ff26","name":"getUserId","func":"if (msg.payload.userId !== null && msg.payload.userId.trim() !== \"\") {\n    msg.payload = msg.payload.userId;\n}\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":247,"wires":[["ed1c88cd.a7e1a8"]]},{"id":"68a234c7.04318c","type":"switch","z":"f46a21c1.7ff26","name":"hasUserId?","property":"payload.userId","propertyType":"msg","rules":[{"t":"null"},{"t":"regex","v":"^$","vt":"str","case":false},{"t":"else"}],"checkall":"false","outputs":3,"x":271,"y":154,"wires":[["6e84258d.4e953c"],["6e84258d.4e953c"],["d3cccfda.ac679"]]},{"id":"6e84258d.4e953c","type":"function","z":"f46a21c1.7ff26","name":"bad request","func":"msg.statusCode = 400;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":636,"y":159,"wires":[["f6bc3e1.428adc"]]},{"id":"54ace886.272178","type":"switch","z":"f46a21c1.7ff26","name":"hasPayload?","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":382,"y":453,"wires":[["8c16e63b.255b08"],["f6bc3e1.428adc"]]},{"id":"8c16e63b.255b08","type":"function","z":"f46a21c1.7ff26","name":"Not found","func":"msg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":360,"wires":[["f6bc3e1.428adc"]]}]