api/v1_user_put.json
[{"id":"532b5995.bde11","type":"cloudant","z":"f46a21c1.7ff26","host":"f519bb9d-1279-4581-82d0-34705fd54f08-bluemix.cloudant.com","name":""},{"id":"ec0071f5.47358","type":"http in","z":"f46a21c1.7ff26","name":"","url":"/v1/user","method":"put","swaggerDoc":"","x":75,"y":1120,"wires":[["8e2dad7c.56399"]]},{"id":"4378796f.4c2e48","type":"function","z":"f46a21c1.7ff26","name":"where","func":"msg.payload._id = msg.payload.userId;\nmsg.requested = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":1214,"wires":[["62f4526d.4c1e64"]]},{"id":"62f4526d.4c1e64","type":"cloudant in","z":"f46a21c1.7ff26","name":"get_user","cloudant":"532b5995.bde11","database":"deboo","service":"deboo-cloudantNoSQLDB","search":"_id_","design":"index","index":"indexByUserId","x":404,"y":1145,"wires":[["71168db0.10bd04"]]},{"id":"66a5497e.48c9a8","type":"function","z":"f46a21c1.7ff26","name":"update","func":"var obj = msg.payload;\nvar requested = msg.requested;\n\nvar user = {};\nuser._id=obj._id;\nuser._rev = obj._rev;\nuser.debu = obj.debu;\n\n\nuser.mail = requested.mail;\nuser.password = requested.password;\nuser.name = requested.name;\nuser.sex = requested.sex;\nuser.birthday = requested.birthday;\n\nmsg.payload = user;\n\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":1154,"wires":[["ba2a8ba9.7d7f38","1528555c.20adeb","f1237ad7.523068"]]},{"id":"ba2a8ba9.7d7f38","type":"cloudant out","z":"f46a21c1.7ff26","name":"","cloudant":"532b5995.bde11","database":"deboo","service":"deboo-cloudantNoSQLDB","payonly":true,"operation":"insert","x":752,"y":1154,"wires":[]},{"id":"1528555c.20adeb","type":"http response","z":"f46a21c1.7ff26","name":"response","x":762,"y":1200,"wires":[]},{"id":"8e2dad7c.56399","type":"switch","z":"f46a21c1.7ff26","name":"password_null_check","property":"payload.password","propertyType":"msg","rules":[{"t":"null"},{"t":"regex","v":"^$","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":3,"x":132,"y":1201,"wires":[["23d83b8a.8e304c"],["23d83b8a.8e304c"],["4378796f.4c2e48"]]},{"id":"23d83b8a.8e304c","type":"function","z":"f46a21c1.7ff26","name":"badRequest","func":"msg.statusCode = 400;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":127,"y":1281,"wires":[["d26cace3.241938","d61e0888.b0209"]]},{"id":"d26cace3.241938","type":"http response","z":"f46a21c1.7ff26","name":"response","x":305,"y":1281,"wires":[]},{"id":"71168db0.10bd04","type":"switch","z":"f46a21c1.7ff26","name":"is_same_password","property":"requested.passwordOld","propertyType":"msg","rules":[{"t":"eq","v":"payload.password","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":525,"y":1214,"wires":[["66a5497e.48c9a8"],["8fb9c2a8.bffa7"]]},{"id":"8fb9c2a8.bffa7","type":"function","z":"f46a21c1.7ff26","name":"badRequest","func":"msg.statusCode = 400;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":1281,"wires":[["439b0bb2.5cc9d4","eca4ced6.b0a948"]]},{"id":"439b0bb2.5cc9d4","type":"http response","z":"f46a21c1.7ff26","name":"response","x":681,"y":1281,"wires":[]},{"id":"d61e0888.b0209","type":"debug","z":"f46a21c1.7ff26","name":"","active":true,"console":"false","complete":"false","x":279,"y":1328,"wires":[]},{"id":"eca4ced6.b0a948","type":"debug","z":"f46a21c1.7ff26","name":"","active":true,"console":"false","complete":"false","x":604,"y":1336,"wires":[]},{"id":"f1237ad7.523068","type":"debug","z":"f46a21c1.7ff26","name":"","active":true,"console":"false","complete":"false","x":764,"y":1239,"wires":[]}]