api/v1_user_post.json
[{"id":"3a057ec2.48bf82","type":"cloudant","z":"","host":"f519bb9d-1279-4581-82d0-34705fd54f08-bluemix:3e8790360b0d3a6b4ec12d233aaea4281fba8608d03cdaebef11952baa52e3e7@f519bb9d-1279-4581-82d0-34705fd54f08-bluemix.cloudant.com","name":"deboo_cloudant"},{"id":"bcc2dc74.14d02","type":"http in","z":"c8e1e749.30f708","name":"","url":"/v1/user","method":"post","swaggerDoc":"","x":139.5,"y":87,"wires":[["bc14a36d.3d786"]]},{"id":"b7e9b2be.a00f5","type":"http response","z":"c8e1e749.30f708","name":"[post] /v1/user","x":1900.5,"y":261,"wires":[]},{"id":"efca53f8.69995","type":"cloudant in","z":"c8e1e749.30f708","name":"get_user_by_mail","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","search":"_idx_","design":"index","index":"indexByMail","x":219,"y":425,"wires":[["f3c12b7b.40dc28"]]},{"id":"f3c12b7b.40dc28","type":"function","z":"c8e1e749.30f708","name":"extractUserData","func":"var user = msg.payload[0];\nif(user) {\n    msg.payload = user;\n} else {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":490,"wires":[["53cf0a98.b99f74"]]},{"id":"6b2224e.43a7fdc","type":"function","z":"c8e1e749.30f708","name":"creat_data_for_get_user_data_by_mail","func":"msg.payload = {mail: msg.tmp.input.mail};\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":364,"wires":[["efca53f8.69995"]]},{"id":"53cf0a98.b99f74","type":"switch","z":"c8e1e749.30f708","name":"isExistUser?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":446.5,"y":433,"wires":[["dc3635c7.839f38","820096cc.6cc3d8"],["b850bb98.bed798","fdcc0adc.b25478"]]},{"id":"820096cc.6cc3d8","type":"function","z":"c8e1e749.30f708","name":"failure","func":"msg.payload = {result: 'failure', userId: ''};\nreturn msg;","outputs":1,"noerr":0,"x":1741.5,"y":303,"wires":[["b7e9b2be.a00f5"]]},{"id":"dc3635c7.839f38","type":"debug","z":"c8e1e749.30f708","name":"","active":false,"console":"false","complete":"false","x":519.5,"y":365,"wires":[]},{"id":"b850bb98.bed798","type":"debug","z":"c8e1e749.30f708","name":"","active":false,"console":"false","complete":"false","x":539,"y":501,"wires":[]},{"id":"fb22b283.f0446","type":"function","z":"c8e1e749.30f708","name":"success","func":"var userId = msg.payload._id;\nmsg.payload = {result: 'success', userId: userId};\nreturn msg;","outputs":1,"noerr":0,"x":1742,"y":200,"wires":[["b7e9b2be.a00f5"]]},{"id":"bc14a36d.3d786","type":"function","z":"c8e1e749.30f708","name":"checkInput","func":"msg.tmp = {input: msg.payload};\nvar mail = msg.tmp.input.mail;\nvar password = msg.tmp.input.password;\nmsg.payload = true;\nif(mail == null || mail == '' || password == null || password == null) {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":367.5,"y":87,"wires":[["3fcca7e0.d67028"]]},{"id":"3fcca7e0.d67028","type":"switch","z":"c8e1e749.30f708","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":521.5,"y":86,"wires":[["6b2224e.43a7fdc"],["820096cc.6cc3d8","4c274e4b.b8a4f"]]},{"id":"4c274e4b.b8a4f","type":"debug","z":"c8e1e749.30f708","name":"","active":false,"console":"false","complete":"false","x":761,"y":67,"wires":[]},{"id":"fdcc0adc.b25478","type":"function","z":"c8e1e749.30f708","name":"createInsertUserData","func":"var mail = msg.tmp.input.mail;\nvar password =  msg.tmp.input.password;\nvar userName = '';\nvar sex = '';\nvar birthday = '';\nvar debu = '0';\nmsg.payload = {\n    mail : mail,\n    password : password,\n    name : userName,\n    sex : sex,\n    birthday : birthday,\n    debu : debu\n}\nreturn msg;","outputs":1,"noerr":0,"x":710.5,"y":439,"wires":[["24466ea7.355db2","8ce9fab6.d13778"]]},{"id":"8ce9fab6.d13778","type":"cloudant out","z":"c8e1e749.30f708","name":"insertUserCloudantDB","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","payonly":true,"operation":"insert","x":823.5,"y":509,"wires":[]},{"id":"56e67b5.54b4984","type":"cloudant in","z":"c8e1e749.30f708","name":"get_user_by_mail","cloudant":"3a057ec2.48bf82","database":"deboo","service":"_ext_","search":"_idx_","design":"index","index":"indexByMail","x":1209,"y":584,"wires":[["138230e5.d52d9f"]]},{"id":"138230e5.d52d9f","type":"function","z":"c8e1e749.30f708","name":"extractUserData","func":"var user = msg.payload[0];\nif(user) {\n    msg.payload = user;\n} else {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1303,"y":649,"wires":[["2f9474f6.b3a8bc"]]},{"id":"2f9474f6.b3a8bc","type":"switch","z":"c8e1e749.30f708","name":"isExistUser?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":1436.5,"y":592,"wires":[["fb22b283.f0446","b6cec08.1329d4"],["209cb639.48ae0a"]]},{"id":"901d56e1.d14c38","type":"function","z":"c8e1e749.30f708","name":"wait 10ms","func":"setTimeout(function() {\n    node.send(msg);\n},10);\nreturn;","outputs":1,"noerr":0,"x":1665.5,"y":590,"wires":[["24466ea7.355db2"]]},{"id":"b6cec08.1329d4","type":"debug","z":"c8e1e749.30f708","name":"","active":false,"console":"false","complete":"false","x":1834,"y":493,"wires":[]},{"id":"24466ea7.355db2","type":"function","z":"c8e1e749.30f708","name":"loop_count_up","func":"if(msg.tmp.checkInsertedDataLoopCurrentCount) {\n    msg.tmp.checkInsertedDataLoopCurrentCount++;\n} else {\n    msg.tmp.checkInsertedDataLoopCurrentCount = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1191.5,"y":393,"wires":[["5621645a.8dd09c","d09e9a16.e1f118"]]},{"id":"209cb639.48ae0a","type":"switch","z":"c8e1e749.30f708","name":"isContinueLoop?","property":"tmp.checkInsertedDataLoopCurrentCount","propertyType":"msg","rules":[{"t":"lte","v":"100","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1562.5,"y":651,"wires":[["901d56e1.d14c38"],["820096cc.6cc3d8"]]},{"id":"5621645a.8dd09c","type":"debug","z":"c8e1e749.30f708","name":"","active":false,"console":"false","complete":"false","x":1413,"y":394,"wires":[]},{"id":"d09e9a16.e1f118","type":"function","z":"c8e1e749.30f708","name":"creat_data_for_get_user_data_by_mail","func":"msg.payload = {mail: msg.tmp.input.mail};\nreturn msg;","outputs":1,"noerr":0,"x":1164,"y":528,"wires":[["56e67b5.54b4984"]]}]