api/v1_user_delete.json
[{"id":"afe89848.5b5138","type":"cloudant","z":"","host":"f1b8b850-27d1-42ac-96cb-64c098181ca6-bluemix.cloudant.com","name":"global-deboo"},{"id":"fbbce870.b69c1","type":"http in","z":"f46a21c1.7ff26","name":"","url":"/v1/user","method":"delete","swaggerDoc":"","x":92,"y":1466,"wires":[["99635789.2604e8","11d5ded7.d4bb71"]]},{"id":"99635789.2604e8","type":"switch","z":"f46a21c1.7ff26","name":"userId_null_check","property":"payload.userId","propertyType":"msg","rules":[{"t":"null"},{"t":"regex","v":"^$","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":3,"x":274,"y":1467,"wires":[["bc6a15af.ece388"],["bc6a15af.ece388"],["5333b500.0a427c"]]},{"id":"5333b500.0a427c","type":"function","z":"f46a21c1.7ff26","name":"where","func":"msg.payload._id = msg.payload.userId;\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":1479,"wires":[["a5a54990.0d6968"]]},{"id":"8f580b71.c76c58","type":"cloudant out","z":"f46a21c1.7ff26","name":"delete","cloudant":"afe89848.5b5138","database":"deboo","service":"_ext_","payonly":true,"operation":"delete","x":763,"y":1479,"wires":[]},{"id":"bc6a15af.ece388","type":"function","z":"f46a21c1.7ff26","name":"badRequest","func":"msg.statusCode = 400;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":117,"y":1542,"wires":[["f14a6f3e.d5d85","68c8f5ff.fff414"]]},{"id":"f14a6f3e.d5d85","type":"http response","z":"f46a21c1.7ff26","name":"response","x":306,"y":1544,"wires":[]},{"id":"68c8f5ff.fff414","type":"debug","z":"f46a21c1.7ff26","name":"","active":true,"console":"false","complete":"false","x":326,"y":1591,"wires":[]},{"id":"11d5ded7.d4bb71","type":"debug","z":"f46a21c1.7ff26","name":"","active":true,"console":"false","complete":"false","x":338,"y":1421,"wires":[]},{"id":"a5a54990.0d6968","type":"cloudant in","z":"f46a21c1.7ff26","name":"get_user","cloudant":"afe89848.5b5138","database":"deboo","service":"_ext_","search":"_id_","design":"index","index":"indexByUserId","x":545,"y":1428,"wires":[["f5d48336.7e6158"]]},{"id":"f5d48336.7e6158","type":"function","z":"f46a21c1.7ff26","name":"delete","func":"var obj = msg.payload;\n\nmsg.payload = {\n    _id: obj._id,\n    _rev: obj._rev\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":1479,"wires":[["8f580b71.c76c58","98f6f11a.9da36"]]},{"id":"98f6f11a.9da36","type":"http response","z":"f46a21c1.7ff26","name":"response","x":664,"y":1590,"wires":[]}]