api/v1_user_get.json
[{"id":"27adf1be.490c4e","type":"cloudant","z":"5589c1ec.19365","host":"f519bb9d-1279-4581-82d0-34705fd54f08-bluemix.cloudant.com","name":""},{"id":"a1d2b680.421a68","type":"function","z":"5589c1ec.19365","name":"bad request","func":"msg.statusCode = 400;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":747,"y":128,"wires":[["7799d22b.7fe21c"]]},{"id":"cfb00ffd.aac3d","type":"cloudant in","z":"5589c1ec.19365","name":"getUser","cloudant":"27adf1be.490c4e","database":"deboo","service":"_ext_","search":"_id_","design":"","index":"","x":486,"y":325,"wires":[["45fa3f8b.1888b"]]},{"id":"4c8d76af.97d948","type":"http in","z":"5589c1ec.19365","name":"","url":"/v1/user","method":"get","swaggerDoc":"","x":186,"y":49,"wires":[["68324790.c30298"]]},{"id":"7799d22b.7fe21c","type":"http response","z":"5589c1ec.19365","name":"[get] /v1/user","x":1018,"y":429,"wires":[]},{"id":"c803498c.13a628","type":"function","z":"5589c1ec.19365","name":"getUserId","func":"if (msg.payload.userId !== null && msg.payload.userId.trim() !== \"\") {\n    msg.payload = msg.payload.userId;\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":216,"wires":[["cfb00ffd.aac3d"]]},{"id":"68324790.c30298","type":"switch","z":"5589c1ec.19365","name":"hasUserId?","property":"payload.userId","propertyType":"msg","rules":[{"t":"null"},{"t":"regex","v":"^$","vt":"str","case":false},{"t":"else"}],"checkall":"false","outputs":3,"x":382,"y":123,"wires":[["a1d2b680.421a68"],["a1d2b680.421a68"],["c803498c.13a628"]]},{"id":"45fa3f8b.1888b","type":"switch","z":"5589c1ec.19365","name":"hasPayload?","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":493,"y":422,"wires":[["deb875e8.914528"],["4dbb5164.b09e9"]]},{"id":"deb875e8.914528","type":"function","z":"5589c1ec.19365","name":"Not found","func":"msg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":752,"y":329,"wires":[["7799d22b.7fe21c"]]},{"id":"4dbb5164.b09e9","type":"function","z":"5589c1ec.19365","name":"formatting","func":"msg.payload = {\n    userId: msg.payload._id,\n    name: msg.payload.name,\n    mail: msg.payload.mail,\n    sex: msg.payload.sex,\n    birthday: msg.payload.birthday\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":752,"y":429,"wires":[["7799d22b.7fe21c"]]}]